- @categories.each do |category|
  %div{:class => 'row'}
    %h2
      %strong
      = link_to category.name, category_path(category)
    %br
    - category.videos.each do |video|
      %a{:href => video_path(video)}
        %img{:src => video.small_cover_url}
    %hr

